body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-align: center
}


/*Header */

#header {
    height: 70px;
    background-color: #424242;
    display: table;
    width: 100%;
}

#title {
    color: white;
    font-size: 30px;
    padding-left: 20px;
    vertical-align: middle;
    display: table-cell;
}


/*Items */

.items {
    float: left;
    width: 25%;
    height: 220px;
    margin: 0px;
    display: table;
}


/*Items text*/

.item-text {
    position: relative;
    font-size: 35px;
    color: white;
    vertical-align: middle;
    display: table-cell;
    /*Hover properties*/
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}


/*Weather style*/

#weather {
    color: white;
    font-size: 30px;
    padding-left: 20px;
    vertical-align: middle;
    display: table-cell;
    text-align: right;
    padding-right: 20px;
}


/*Hover*/

.items:hover .item-text {
    transform: scale(1.1);
}


/*Animation*/

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/*Responsive*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .items {
        float: left;
        width: 100%;
        height: 220px;
        margin: 0px;
        display: table;
    }
    #weather {
        font-size: 20px;
    }
}
